<div class="header">
<h1 class="page-title">Анализ количества ссылок в SCOPUS:</h1>
</div>

<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
	<h5>Загрузите литературу со ссылками на SCOPUS</h5>
</div>
</div>
<?if(!$_POST):?>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Внимание!</strong> Загрузка фаqлов журналов производится только в формате <b>.docx</b>
</div>
<?endif;?>
<div class="row-fluid">
<form action="" method="POST" enctype="multipart/form-data">
<table>
<tr>
	<td><input type="file" name="file"></td>
</tr>	
<tr>
	<td><input type="submit" name="uploadFile" value="Отправить"></td>
</tr>
<table>
</form>
</div>
<?if($res=$this->result):?>
<div class="row-fluid">
	<div class="span5">
		Всего ссылок: <?=$res['ref_all']?><br>
		Английских ссылок: <?=$res['ref_eng']?><br>
		Ссылок на SCOPUS: <?=$res['ref_scopus']?> <b>(<?echo round($res['ref_scopus']/$res['ref_eng']*100,2)?>%)</b><br>
	</div>
</div>
<?endif;?>


<div class="row-fluid">
<b>Ссылки на SCOPUS</b>
<pre>
	<?print_r($this->all_href_scopus)?>
</pre>
</div>

<div class="row-fluid">
<b>Журналы eng</b>
<pre>
	<?print_r($this->all_href_name)?>
</pre>
</div>

<div class="row-fluid">
<b>ВСе ссылки eng</b>
<pre>
	<?print_r($this->all_href)?>
</pre>
</div>

</div>