<div class="header">
<h1 class="page-title">Журналы со ссылками</h1>
</div>

<div class="container-fluid list">
<div class="row-fluid">
	<div class="span1"></div>
	<div class="span2"><b>Имя</b></div>
	<div class="span1"><b>Все</b></div>
	<div class="span1"><b>Англ</b></div>
	<div class="span1"><b>SCOPUS</b></div>
	<div class="span2"><b>Дата добавления</b></div>
	<div class="span1"><b>Удаление</b></div>
</div>
<?foreach($this->magazines as $row):?>
<div class="row-fluid">
	<div class="span1"><?=$row['id']?></div>
	<div class="span2"><?=$row['login']?></div>
	<div class="span1"><?=$row['ref_all']?></div>
	<div class="span1"><?=$row['ref_eng']?></div>
	<div class="span1"><?=$row['ref_scopus']?></div>
	<div class="span2"><?=$row['date_add']?></div>
	<div class="span1" onclick="javascript:if(confirm('Вы точно хотите удалить это обновление со всеми дополнениями?')){window.location = '/magazine/del?id=<?=$row[id]?>';};"><i class="icon-remove"></i></div>
</div>
<?endforeach;?>
</div>