<h2>Стандартные метатеги</h2>
<br/>
<br/>

<form action="" method="post">
<pre>
	<?php printf("%25s","Default title: ")?><textarea rows="2" cols="45" name="default_title"><?=$this->values['default_title']?></textarea><br>
	<?php printf("%25s","Default keywords: ")?><textarea  rows="5" cols="45" name="default_keywords"><?=$this->values['default_keywords']?></textarea><br>
	<?php printf("%25s","Default description: ")?><textarea  rows="3" cols="45" name="default_description"><?=$this->values['default_description']?></textarea><br>
	<input type="submit" value="Сохранить">
</pre>
</form>