<div class="header">
<h1 class="page-title">Пользователи</h1>
</div>


<div class="container-fluid">
<div class="row-fluid"><div class="span12"></div></div>
<?php foreach($this->users as $user):?>
<div class="row-fluid">
	<div class="span2">
		<i class="icon-user"></i> <?=$user['login']?>
	</div>
	<div class="span5">
		<?=$user['email']?>
	</div>
	<div class="span5">
		<?=$user['role']?>
	</div>
</div>
<?php endforeach;?>
</div>


