<div class="header">
<h1 class="page-title">Добавить пользователя</h1>
</div>

<div class="container-fluid">
<form action="" method="POST">
<table>
	<tr>
		<td>Никнейм</td>
		<td><input class="input-xlarge" type="text" name="name" value="<?=$this->values['name']?>"></td>
	</tr>
	<tr>
		<td>Пароль</td>
		<td><input class="input-xlarge" type="password" name="pas1"></td>
	</tr>
	<tr>
		<td>Еще раз</td>
		<td><input class="input-xlarge" type="password" name="pas2"></td>
	</tr>
	<tr>
		<td>Роль</td>
		<td>
			<select name="role">
				<option value="admin">admin</option>
				<option value="content">content</option>
				<option value="user" selected>user</option>
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><button type="submit" class="btn btn-primary">Добавить</button></td>
	</tr>
</table>
</form>
</div>