<div class="header">
<h1 class="page-title">Пользователи</h1>
</div>


<div class="container-fluid">
<div class="row-fluid"><div class="span12"></div></div>
<?php foreach($this->users as $user):?>
<div class="row-fluid">
	<div class="span2">
		<i class="icon-user"></i> <?=$user['login']?>
	</div>
	<div class="span5">
		<select class="role_select" id="<?=$user['id']?>">
			<option value="admin" <?if($user['role']=="admin") echo"selected"?>>admin</option>
			<option value="content" <?if($user['role']=="content") echo"selected"?>>content</option>
			<option value="user" <?if($user['role']=="user") echo"selected"?>>user</option>
		</select>
		<a href="/user/pass?id=<?=$user['id']?>">Сброс пароля</a>
		<a href="#" class="active" id=<?=$user['id']?>><img src="/public/images/<?if($user['active']==1):?>on<?else:?>off<?endif;?>.jpg" width=18px></a>
	</div>
	<div class="span4">
		<?=$user['email']?>
	</div>
</div>
<?php endforeach;?>
<div class="row"><div class="span12"><a href="/user/add">Добавить пользователя</a></div></div>
<hr>
<div class="row"><div class="span12"><h3>Роли и права:</h3></div></div>

<div class="row">
	<div class="span3"><b><i>Роль</i></b></div>
	<div class="span3"><b><i>Контроллер</i></b></div>
	<div class="span1"><b><i>Сreate</i></b></div>
	<div class="span1"><b><i>Read</i></b></div>
	<div class="span1"><b><i>Update</i></b></div>
	<div class="span1"><b><i>Delete</i></b></div>
</div>
<?foreach($this->roles as $role=>$arr):?>
<?$i=0;?>
<?foreach($arr as $action=>$crud):?>
<div class="row" role="<?=$role?>" act="<?=$action?>">
	<div class="span3"><?if($i++==0) echo "<b>".$role."</b>";?></div>
	<div class="span3"><?=$action?></div>
	<div class="span1"><input type="checkbox" crud="C" <?if($crud['C']==1):?>checked<?endif;?>></div>
	<div class="span1"><input type="checkbox" crud="R" <?if($crud['R']==1):?>checked<?endif;?>></div>
	<div class="span1"><input type="checkbox" crud="U" <?if($crud['U']==1):?>checked<?endif;?>></div>
	<div class="span1"><input type="checkbox" crud="D" <?if($crud['D']==1):?>checked<?endif;?>></div>
</div>
<?endforeach;?>
<div class="row-fluid"><div class="span12"></div></div>
<?endforeach;?>
</div>

<script>
function change_role(obj) {
	var new_role = obj.find("option:selected").val();
	var id = obj.attr("id");
	$("body").css({cursor:'wait'});
	$.ajax({
		type: 'POST',
		url: "/user/changerole",
		dataType: 'json',
		data: {
			'new_role': new_role,
			'id': id
		},
		statusCode:{
			200: function(data) { 
				if (data!="1") alert("Не вышло изменить роль пользователя");
				$("body").css({cursor:'default'});
			}
			}
		});
}
function change_crud(obj) {
	
	var active;
	if (obj.prop("checked")==true) active=1;
	else active = 0;
	var oper = obj.attr("crud");
	var area = obj.parent().parent().attr("act");
	var role = obj.parent().parent().attr("role");
	$("body").css({cursor:'wait'});
	$.ajax({
		type: 'POST',
		url: "/user/changecrud",
		dataType: 'json',
		data: {
			'role': role,
			'area': area,
			'oper': oper,
			'active': active
		},
		statusCode:{
			200: function(data) { 
				if (data!="1") alert("Не вышло изменить права");
				$("body").css({cursor:'default'});
			}
			}
		});
}
function activate(obj) {
	var id = obj.attr("id");
	$("body").css({cursor:'wait'});
	$.ajax({
		type: 'POST',
		url: "/user/activate",
		dataType: 'json',
		data: {
			'id': id
		},
		statusCode:{
			200: function(data) { 
				if (data==1) obj.find("img",0).attr("src","/public/images/on.jpg");
				if (data==0) obj.find("img",0).attr("src","/public/images/off.jpg");
				$("body").css({cursor:'default'});
			}
			}
		});
}

$(document).ready(function(){
			$(".role_select").change(function(){
				change_role($(this));
			});
			$("input[type=checkbox]").click(function(){
				change_crud($(this));
			});
			$(".active").click(function(){
				activate($(this));
				return false;
			});
			
		});
</script>
