<div class="header">
<h1 class="page-title">Изменение параметров элемента меню:</h1>
</div>


<div class="container-fluid">
<form action="" method="POST">
Ссылка (href): <input type="text" name="href" value="<?=$this->values['href']?>"><br>
Название(ru): <input type="text" name="name_ru" value="<?=$this->values['name_ru']?>"><br>
Название(ua): <input type="text" name="name_ua" value="<?=$this->values['name_ua']?>"><br>
Название(en): <input type="text" name="name_en" value="<?=$this->values['name_en']?>"><br>
<input type="submit" value="Сохранить"><br>
</form>
</div>