<div class="header">
<h1 class="page-title">Элементы меню</h1>
</div>


<div class="container-fluid">

<?php foreach($this->menu as $menu):?>
<div class="row-fluid">
<div class="span12 offset<?=$menu['level']-1?>">
	<div class="row-fluid">
		<div class="span5">
			<?=$menu['href']?> (href)
		</div>
		<div class="span3">
			<?=$menu['name_ru']?> (ru)
			<?=$menu['name_ua']?> (ua)
			<?=$menu['name_en']?> (en)
		</div>
		<div class="span4">
			<a href="/admin/menu/add/<?=$menu['id']?>" title="Добавить подменю"><i class="icon-plus-sign"></i></a>
			<a href="/admin/menu/edit/<?=$menu['id']?>" title="Редактировать"><i class="icon-edit"></i></a>
			<a href="/admin/menu/delete/<?=$menu['id']?>" title="Удалить"><i class="icon-remove-sign"></i></a>
			<a href="/admin/menu/up/<?=$menu['id']?>" title="Переместить вверх"><i class="icon-arrow-up"></i></a>
			<a href="/admin/menu/down/<?=$menu['id']?>" title="Переместить вниз"><i class="icon-arrow-down"></i></a>
		</div>
	</div>
</div>
</div>
<?php endforeach;?>

<a href="/admin/menu/add">Добавить элемент меню</a>
</div>