.menu_admin {
	width: 100%;
	
}

.menu_admin  .menu1 {
	width: 100%;
	background-color: #bbbbbb;
}

.menu_admin  .menu2 {
	width: 95%;
	margin-left: 5%;
	background-color: #cccccc;
}

.menu_admin .menu3 {
	width: 90%;
	margin-left: 10%;
	background-color: #dddddd;
}

.menu_admin  .menu4 {
	width: 85%;
	margin-left: 15%;
	background-color: #eeeeee;
}

.menu1 a,.menu2 a,.menu3 a,.menu4 a{
	text-decoration:  none;
}

