<div class="header">
<h1 class="page-title">Обратная связь <?=$this->type?></h1>
</div>

<div class="container-fluid">
<?if ((!$this->feedbacks)&&(!$this->feed)):?>
<div class="row-fluid">
	<div class="span2">
		<a href="/admin/feedback?type=question">Заданные вопросы</a>
	</div>
	<? if ($this->new_question):?>
	<div class="span4">
		<span class="label label-info">+<?=$this->new_question?></span>
	</div>
	<? endif;?>
</div>
<div class="row-fluid">
	<div class="span2">
		<a href="/admin/feedback?type=askcall">Заказанные звонки</a>
	</div>
	<? if ($this->new_askcall):?>
	<div class="span4">
		<span class="label label-info">+<?=$this->new_askcall?></span>
	</div>
	<? endif;?>
</div>
<div class="row-fluid">
	<div class="span2">
		<a href="/admin/feedback?type=comment">Оставленные отзывы</a>
	</div>
	<? if ($this->new_comment):?>
	<div class="span4">
		<span class="label label-info">+<?=$this->new_comment?></span>
	</div>
	<? endif;?>
</div>
<? elseif(!$this->feed):?>
<? foreach($this->feedbacks as $feed):?>
	<div class="row-fluid">
	<?php if($feed['is_read']==0) echo"<b>";?>
	<div class="span1">
		<a href="/admin/feedback?id=<?=$feed['id']?>"><?=$feed['id']?></a>
	</div>
	<div class="span4">
		<?=$feed['fio']?>
	</div>
	<div class="span4">
		<?=$feed['time']?>
	</div>
	<?php if($feed['is_read']==0) echo"</b>";?>
	</div>
<? endforeach;?>
<? else:?>
	<pre>
	<?print_r($this->feed)?>
	</pre>
<? endif;?>
</div>