<div class="header">
<h1 class="page-title">Редактирование товара:</h1>
</div>

<div class="container-fluid">
<div class="row-fluid">
<div class="spann12"></div>
</div>
<div class="row-fluid">
<?if($this->error):?>
<div class="span12">
	<p class="text-error"><?=$this->error?></p>
</div>
<?endif;?>
<div class="span12">
	<p class="muted">Поля "Название", "Описание" заполнять по следующему правилу:<br>Русский текст[~]Английский текст[~]Украинский язык<br>Пример: Мама[~]Mother[~]Мати</p>
</div>
<form action="" method="post">
<table>
<tr>
	<td>Название</td>
	<td><input class="input-xxlarge" type="text" name="title" value="<?=$this->values['title']?>"></td>
</tr>
<tr>
	<td>Ссылка</td>
	<td><input class="input-xxlarge" type="text" name="link" value="<?=$this->values['link']?>"></td>
</tr>
<tr>
	<td>Артикул</td>
	<td><input class="input-medium" type="text" name="code" value="<?=$this->values['code']?>"></td>
</tr>
<tr>
	<td>Категория</td>
	<td>
		<select class="input-xxlarge" name="category_id">
			<?foreach($this->categories as $cat):?>
			<option value="<?=$cat['id']?>" <?if($cat['id']==$this->values['category_id']):?>selected<?endif;?>><?=$cat['title']?></option>
			<?endforeach;?>
		</select>
	</td>
</tr>

<tr>
	<td>Брэнд</td>
	<td><input class="input-medium" type="text" name="brand" value="<?=$this->values['brand']?>"></td>
</tr>
<tr>
	<td>Цена за месяц(грн)</td>
	<td><input class="input-medium" type="text" name="price_month" value="<?=$this->values['price_month']?>"></td>
</tr>
<tr>
	<td>Цена за день</td>
	<td><input class="input-medium" type="text" name="price_day" value="<?=$this->values['price_day']?>"></td>
</tr>
<tr>
	<td>Описание</td>
	<td><textarea class="input-xxlarge" rows="3" name="description"><?=$this->values['description']?></textarea></td>
</tr>
<tr>
	<td>meta_description</td>
	<td><textarea class="input-large" rows="3" name="meta_description"><?=$this->values['meta_description']?></textarea></td>
</tr>
<tr>
	<td>meta_keywords</td>
	<td><textarea class="input-large" rows="3" name="meta_keywords"><?=$this->values['meta_keywords']?></textarea></td>
</tr>
</table>
 <button type="submit" class="btn btn-primary">Создать</button>
</form>
</div>

</div>