<div class="header">
<h1 class="page-title">Товары</h1>

</div>
<a href="/admin/item/add">Добавить товар</a>


<div class="container-fluid">
<div class="row">
<div class="span7">
	<div class="pagination pagination-small">
	<ul>
	<?if ($this->page_count>1):?>
	<li ><a href="/admin/item?page=1<?if ($this->search!=false):?>&search=<?=$this->search?><?endif;?>"><<</a></li>
	<?if($this->cur_page>6):?><li class="disabled"><a href="#">...</a></li><?endif;?>
	<?for($i=$this->cur_page-5;$i<$this->cur_page+5;$i++):?>
		<?if(($i>=1)&&($i<=$this->page_count)):?>
			<li <?if($i==$this->cur_page):?>class="active"<?endif;?>><a href="/admin/item?page=<?=$i?><?if ($this->search!=false):?>&search=<?=$this->search?><?endif;?>"><?=$i?></a></li>
		<?endif;?>
	<?endfor;?>
	<?if($this->cur_page<$this->page_count-4):?><li class="disabled"><a href="#">...</a></li><?endif;?>
	<li ><a href="/admin/item?page=<?=$this->page_count?><?if ($this->search!=false):?>&search=<?=$this->search?><?endif;?>">>></a></li>
	<?endif;?>
	</ul>

	</div>
</div>
<div class="span4" style="float:right">
	<form class="navbar-search pull-left" action="" method="GET">
	<input type="text" name="search" class="search-query" placeholder="Поиск товаров по названию">
	</form>
</div>
</div>
<div class="row">
<h5>Товары <?if($this->search!=false) echo 'содержащие "'.$this->search.'"'?>:</h5>
</div>
<?php foreach ($this->items as $item):?>
	<a href="/admin/item/edit?id=<?=$item['id']?>">
	<div class="row">
		<div class="span">
			<?=$item['id']?>
		</div>
		<div class="span8">
			<?=$item['title']?>
		</div>
		<div class="span6">
			
		</div>
	</div>
<?php endforeach;?>


</div>