<div class="header">
<h1 class="page-title">Добавление новой страницы</h1>
</div>

<div class="container-fluid">
<form action="" method="POST">
<?php if ($this->href==false):?>
	Ссылка:<br><input type="text" name="href" value="<?=$this->page['href']?>"/><br>
<?php else:?>
	Ссылка: <?=$this->href?><br>
<?php endif;?>
Язык(2 латинские буквы)<br>
	<input name="lang" type="text" value="<?=$this->page['lang']?>"><br>	

Содержание<br>
	<textarea name="text" id="editor1" cols="45" rows="5"><?=$this->page['text']?></textarea>
	<script type="text/javascript">
	CKEDITOR.replace( 'editor1');
	</script>
Показывать <input name="show" type="checkbox" checked/><br>
	<input type="submit" value="Создать">

</form>
</div>