<?php if ($this->page==false):?>
<h3>Страница не найдена</h3>
<?php else:?>

<div class="header">
<h1 class="page-title">Это редактор статических страниц</h1>
</div>

<div class="container-fluid">
<div class="row-fluid">
<h4>Страница № <?=$this->page['id']?></h4>
Ссылка: <?=$this->page['href']?><br>
Язык страницы: <?=$this->page['lang']?><br>
<form action="" method="POST">

	Содержание<br>
	<textarea name="text" id="editor1" cols="45" rows="5"><?=$this->page['text']?></textarea>
	<script type="text/javascript">
	CKEDITOR.replace( 'editor1');
	</script>
	Показывать <input name="show" type="checkbox" <?php if ($this->page['show']==1):?> checked <?php endif;?> /><br>
	<input type="submit" value="Сохранить">
</form>
<?php endif;?>
</div>
</div>