<div class="header">
<h1 class="page-title">Статические страницы</h1>
</div>

<div class="container-fluid">
<?php foreach ($this->pages as $href=>$langs):?>
	<div class="row">
		<div class="span2">
			<?=$href?>
		</div>
		<div class="span6">
			<?php foreach($langs as $lang=>$page_id):?>
				|<b><?=$lang?></b> <a href="/admin/staticpage/edit/<?=$page_id?>"><i class="icon-edit"></i></a> <a href="/admin/staticpage/delete/<?=$page_id?>"><i class="icon-remove"></i></a>
			<?php endforeach;?>
		</div>
		<div class="span">
			<a href="/admin/staticpage/add/<?=$href?>">Добавить язык</a>
		</div>
	</div>
<?php endforeach;?>
	<a href="/admin/staticpage/add">Добавить страницу</a>
	
</div>