<?php if ($this->news==false):?>
<h3>Страница не найдена</h3>
<?php else:?>

<div class="header">
<h1 class="page-title">Правка новости</h1>
</div>

<div class="container-fluid">
<form action="" method="POST">
Заголовок:<br><input type="text" name="title" value="<?=$this->news['title']?>"/><br>
Язык(2 латинские буквы)<br>
	<input name="lang" type="text" value="<?=$this->news['lang']?>"><br>
Аннотация<br>
	<input name="annotation" type="text" value="<?=$this->news['annotation']?>"><br>
Содержание<br>
	<textarea name="text" id="editor1" cols="45" rows="5"><?=$this->news['text']?></textarea>
	<script type="text/javascript">
	CKEDITOR.replace( 'editor1');
	</script>
<br>
Дата<br>
	<input name="date" type="text" value="<?=$this->news['date']?>"><br>	
<input type="submit" value="Сохранить">

</form>
</div>

<?php endif;?>

