<div class="header">
<h1 class="page-title">
<? if($this->type=="actions") echo "Акции";
   if($this->type=="news") echo "Новости";
   if($this->type=="projects") echo "Проэкты";
?></h1>
</div>

<div class="container-fluid">
<div class="row">
	<div class="span2">
		<a href="/admin/news/news">Новости</a>
	</div>
	<div class="span2">
		<a href="/admin/news/actions">Акции</a>
	</div>
	<div class="span2">
		<a href="/admin/news/projects">Проэкты</a>
	</div>
</div>
<div class="row-fluid">
	<div class="span12"></div>
</div>

<?php foreach ($this->allnews as $news):?>
	<?php if(($news['group_id']!=$prev_group_id)&&(isset($prev_group_id))):?>
		<div class="row">
			<div class="span2">
				<a href="/admin/news/add/<?=$this->type?>/<?=$prev_group_id?>">Создать на другом языке</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12"></div>
		</div>
	<?php endif;?>
	
	<div class="row">
		<div class="span6">
			<?=$news['title'];?>
		</div>
		<div class="span">
			<?=$news['lang'];?>
		</div>
		<div class="span">
			<?=$news['date'];?>
		</div>
		<div class="span2">
			<a href="/admin/news/edit/<?=$news['id']?>"><i class="icon-edit"></i></a> <a href="/admin/news/delete/<?=$news['id']?>"><i class="icon-remove"></i></a>
		</div>
		
	</div>
	<?php $prev_group_id=$news['group_id'];?>
<?php endforeach;?>
	<?php if(isset($prev_group_id)):?>
		<div class="row">
			<div class="span2">
			<a href="/admin/news/add/<?=$this->type?>/<?=$prev_group_id?>">Создать на другом языке</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12"></div>
		</div>
	<?php endif;?>
	<a href="/admin/news/add/<?=$this->type?>">Добавить новость</a>
	
</div>