
<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Войти</p>
            <div class="block-body">
                <form method="post" action="">
                    <label>Username</label>
                    <input type="text" class="span12"  name="login">
                    <label>Password</label>
                    <input type="password" class="span12" name="password">
                    <input type="submit" class="btn btn-primary pull-right">Войти</a>
                    <label class="remember-me"><input type="checkbox"> Запомнить меня</label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>



