<div class="header">
<h1 class="page-title">Изменение пароля</h1>
</div>

<div class="container-fluid">
<form action="" method="POST">
<table>
	<tr>
		<td>Пароль</td>
		<td><input class="input-xlarge" type="password" name="pas1"></td>
	</tr>
	<tr>
		<td>Еще раз</td>
		<td><input class="input-xlarge" type="password" name="pas2"></td>
	</tr>
	<tr>
		<td></td>
		<td><button type="submit" class="btn btn-primary">Изменить</button></td>
	</tr>
</table>
</form>
</div>