<div class="header">
<h1 class="page-title">Обновление базы SCOPUS:</h1>
</div>

<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
	<h5>Загрузите файл с обновленным содержанием журналов SCOPUS</h5>
</div>
</div>
<?if(!$_POST):?>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Внимание!</strong> Загрузка фалов производится только в формате <b>.xls (97-2003)</b>
</div>
<?endif;?>

<div class="row-fluid">
<form action="" method="POST" enctype="multipart/form-data">
<table>
<tr>
	<td><input type="file" name="file"></td>
</tr>	
<tr>
	<td><input type="submit" name="uploadFile" value="Отправить"></td>
</tr>
<table>
</form>
</div>
<?if($this->rows_upd):?>
<pre>
Добавлено новых <?=$this->rows_upd?> журналов

</pre>
<?endif;?>
</div>
<pre>
<?print_r($this->result)?>
</pre>