<div class="header">
<h1 class="page-title">База журналов</h1>
</div>
<div class="container-fluid">
<div class="row-fluid">
    <div class="span3">
        Найдено: <b id="counter"><?=$this->counter?></b>
    </div>
    <div class="span4 pull-right">
    <form class="form-search">
        <b>Поиск:</b> <input type="text" class="search-query" style="width:85%" value="<?=$_GET['search']?>">
    </form>
    </div>
</div>
</div>

<div class="container-fluid list">
<?foreach($this->scopus as $row):?>
<div class="row-fluid">
	<div class="span10 text" data="<?=$row['id']?>"><?=$row['name']?></div>
    <div class="span1 buttons">
        <a href="#" class="edit"><i class="icon-edit"></i></a>
    </div>
    <div class="span1">
        <a href="/scopus/del?id=<?=$row[id]?>"><i class="icon-remove"></i></a>
    </div> 
</div>
<?endforeach;?>
</div>

<script>
$(function(){
    var page = 0;
	var light = false;
    var stateParameters = { foo: "bar" };
    
    
    $(window).on('popstate', function(e) {
        // current href: document.location.pathname
       // document.location.pathname = "igoroshka";
        //Application.updateState();
    });
    
   $(".edit").live("click", function(){
        $(".buttons").has(".accept").find(".accept").removeClass("accept").addClass("edit").find("i").removeClass("icon-ok").addClass("icon-edit");
        $(this).removeClass("edit").addClass("accept").find("i").removeClass("icon-edit").addClass("icon-ok");
        
        var txt = $(this).parent().parent().find('div.span10.text').text();
        $(".text").has("input").each(function(data){$(this).text($(this).find("input").val())});
        $(this).parent().parent().find(".text").empty().html("<input type='text' style='width:"+txt.length*7+"px' value='"+txt+"'/>").find("input").focus();
        return false;
    });
    
    $(".accept").live("click",function(){ 
        var obj  = $(this).parent().parent();
        var id   = $(this).parent().parent().find(".text").attr("data");
        var text = $(this).parent().parent().find(".text input").val();
        $.ajax({
           url: "/scopus/ajaxedit",
           data: {id: id, text: text},
           type: "POST"
        }).done(function(data){
            data = $.parseJSON(data);
            if(data.type){
                obj.find(".text").text(data.name);
                obj.find(".accept").removeClass("accept").addClass("edit").find("i").removeClass("icon-ok").addClass("icon-edit");
            }
        });
        return false;
    });
    
    var timer;
	
	function light_search(text,search) {
		shift = 0;
		tag_strt = "<qw style=\"background-color:yellow\">";
		tag_end = "</qw>";
		if(search.length>0){
							while(text.toLowerCase().indexOf(search.toLowerCase(),shift) >= 0){
								position = text.toLowerCase().indexOf(search.toLowerCase(),shift)+search.length;
								text = [text.slice(0, position), tag_end , text.slice(position)].join('');
								
								position = text.toLowerCase().indexOf(search.toLowerCase(),shift);
								text = [text.slice(0, position), tag_strt , text.slice(position)].join('');
								shift = position+ tag_strt.length + search.length + tag_end.length;
							}
						}
		return text;
	}
	
	function find_result(){
                var search = $(".search-query").val();
                history.pushState(stateParameters, "New page title", "/scopus/list"+(search ? "?search=":"")+encodeURIComponent(search));
                page = 0;
				light = true;
                $.ajax({
                   url: "/scopus/list",
                   data: {search: search, ajax: true},
                   type: "POST"
                }).done(function(data){
                    data = $.parseJSON(data);
                    $(".list").empty();
                    $("#counter").text(data.counter);
                    $.each(data.data,function(key, val){
						text = light_search(val.name,search);
                        _html = "<div class=\"row-fluid\"><div class=\"span10 text\" data=\""+val.id+"\">"+light_search(val.name,search)+"</div><div class=\"span1 buttons\"><a href=\"#\" class=\"edit\"><i class=\"icon-edit\"></i></a></div><div class=\"span1\"><a href=\"/scopus/del?id="+val.id+"\"><i class=\"icon-remove\"></i></a></div> </div>";
                        $(".list").append(_html);
						return;
                    });
                });
            };
	
    $(".search-query").bind({
        keyup: function(){
			
            clearTimeout(timer);
            timer = setTimeout(find_result, 500);
        }
    });
    
    $(window).scroll(function(){
        if($(window).scrollTop() + $(window).height() + 400 > $(document).height()){
            page++;
			var search = $(".search-query").val();
           $.ajax({
               url: "/scopus/loadpage",
               data: {page: page, search: search},
               type: "POST"
            }).done(function(data){
                data = $.parseJSON(data);
                $.each(data.data,function(key, val){
					if(light==true) { text = light_search(val.name,search)}
					else			{ text = val.name }
                    _html = "<div class=\"row-fluid\"><div class=\"span10 text\" data=\""+val.id+"\">"+text+"</div><div class=\"span1 buttons\"><a href=\"#\" class=\"edit\"><i class=\"icon-edit\"></i></a></div><div class=\"span1\"><a href=\"/scopus/del?id="+val.id+"\"><i class=\"icon-remove\"></i></a></div> </div>";
                    $(".list").append(_html);
                });
            });
        }
    });
	
	$(".form-search").submit(function(){
		find_result();
		return false;
	});
    
});
</script>