<div class="header">
<h1 class="page-title">Список обновлений</h1>
</div>

<div class="container-fluid list">
<div class="row-fluid">
	<div class="span1"><b>Номер</b></div>
	<div class="span3"><b>Пользователь</b></div>
	<div class="span2"><b>Дата</b></div>
	<div class="span3"><b>Строчек добавлено</b></div>
	<div class="span1"><b>Удалить</b></div>
</div>
<?foreach($this->updates as $upd):?>
<div class="row-fluid">
	<div class="span1"><?=$upd['id']?></div>
	<div class="span3"><?=$upd['login']?></div>
	<div class="span2"><?=$upd['date']?></div>
	<div class="span3"><?=$upd['rows_updated']?></div>
	<div class="span1" onclick="javascript:if(confirm('Вы точно хотите удалить это обновление со всеми дополнениями?')){window.location = '/scopus/delupd?id=<?=$upd[id]?>';};"><i class="icon-remove"></i></div>
</div>
<?endforeach;?>
</div>