<div class="header">
<h1 class="page-title">Категории</h1>
</div>

<div class="container-fluid">
<div class="row">
	<div class="span1">
		Позиция:
	</div>
	<div class="span8">
		Название категории
	</div>
	<div class="span">
		Редактировать
	</div>
</div>
<?php foreach ($this->catalog_level1 as $cat1):?>
	<a href="/admin/category/view?id=<?=$cat1['id']?>">
	<div class="row">
		<div class="span1">
			<?=$cat1['position']?>
		</div>
		<div class="span8">
			<?=$cat1['title']?>
		</div>
		<div class="span">
			<a href="/admin/category/edit?id=<?=$cat1['id']?>"><i class="icon-edit"></i></a>
		</div>
	</div>
	</a>
<?php endforeach;?>
</div>
