<div class="header">
<h1 class="page-title">Категории</h1>
</div>

<div class="container-fluid">
<div class="row">
<div class="span12">
	<h4>Категория: <i><u><?=$this->categ_info['title']?></u></i></h4>
</div>
</div>


<div class="row">
<div class="span5">
	<h4>Характеристики:</h4>
</div>
</div>

<?if ($this->categ_characters['father']):?>
<div class="row">
<b>Наследуемые:</b>
</div>
<?endif;?>
<?php foreach ($this->categ_characters['father'] as $char):?>
	<div class="row">
		<div class="span1">
			<?=$char['position']?>
		</div>
		<div class="span8">
			<?=$char['title']?>
		</div>
	</div>
<?php endforeach;?>

<?if ($this->categ_characters['own']):?>
<div class="row">
<b>Свои:</b>
</div>
<?endif;?>
<?php foreach ($this->categ_characters['own'] as $char):?>
	<div class="row">
		<div class="span1">
			<?=$char['position']?>
		</div>
		<div class="span8">
			<?=$char['title']?>
		</div>
		<div class="span">
			<a href="/admin/category/character?id=<?=$cat['id']?>"><i class="icon-edit"></i></a>
			<a href="/admin/category/del_characters?id=<?=$cat['id']?>"><i class="icon-remove"></i></a>
		</div>
	</div>
<?php endforeach;?>

<div class="row-fluid">
<div class="span12">

</div>
</div>
<?if($this->categ_childs):?>
<div class="row">
<div class="span5">
	<h4>Дочерние категории</h4>
</div>
</div>
<div class="row">
	<div class="span1">
		Позиция:
	</div>
	<div class="span8">
		Название категории
	</div>
	<div class="span">
		Редактировать
	</div>
</div>
<?php foreach ($this->categ_childs as $cat):?>
	<a href="/admin/category/view?id=<?=$cat['id']?>">
	<div class="row">
		<div class="span1">
			<?=$cat['position']?>
		</div>
		<div class="span8">
			<?=$cat['title']?>
		</div>
		<div class="span">
			<a href="/admin/category/edit?id=<?=$cat['id']?>"><i class="icon-edit"></i></a>
		</div>
	</div>
	</a>
<?php endforeach;?>
<?endif;?>
</div>

<pre>
<?//print_r($this->categ_characters);?>
</pre>