<?php 
	$user = new LP_User;
	$profile = $user->profile();
?>

<!DOCTYPE html>
<html>
<head>
    <style>
        .list .row-fluid:hover{
            background-color: #D3D3D3;
        }
    </style>
    <meta charset="utf-8">
    <title>Administrator</title>

    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
    
    <link rel="stylesheet" type="text/css" href="/public/css/theme.css">
    <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.css">

    <script src="/public/js/jquery-1.7.2.min.js" type="text/javascript"></script>

    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>
	
	<link href="/public/css/table.css" rel="stylesheet">
	<link href="/public/css/menu.css" rel="stylesheet">
	<!--<script type="text/javascript" src="/public/ckeditor/ckeditor.js"></script>-->
 </head>
<body>
<div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
					<?php if ($user->isLogin()):?>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> <?=$profile['login']?>(<b><?=$profile['role']?></b>)
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
							<li><a tabindex="-1" href="/login/resetpass">Сброс пароля</a></li>
                            <li><a tabindex="-1" href="/login/logout">Выйти</a></li>
                        </ul>
                    </li>
					<?php endif;?>
                    
                </ul>
                <a class="brand" href="/admin"><span class="first">Magazine's literature control system</a>
        </div>
</div>

<?php if ($user->isLogin()):?>
<div class="sidebar-nav">
        <?if($user->check_rights("scopus","R")):?>
		<a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Scopus</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="/scopus/list">База журналов</a></li>
            <li><a href="/scopus/updates">Обновления базы</a></li>
            <li><a href="/scopus/add">Загрузка базы</a></li>
        </ul>
		<?endif;?>
		
		<?if($user->check_rights("magazine","R")):?>
		<a href="#analyze-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Анализатор</a>
        <ul id="analyze-menu" class="nav nav-list collapse in">
            <li ><a href="/magazine/add">Проверка журнала</a></li>
            <li ><a href="/magazine">Все проверки</a></li>
        </ul>
		<?endif;?>
		
		<?php if ($user->isAdmin()):?>
        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Пользователи</a>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li ><a href="/user">Управление аккаунтами</a></li>
        </ul>
		<?endif;?>
    </div>


<?php endif;?>
<div class="content" >
	<div class="span4" style="float:right">
	<?if ($this->error):?>
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<?=$this->error?>
	</div>
	<?endif;?>
	<?if ($this->success):?>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<?=$this->success?>
	</div>
	<?endif;?>
	</div>
		<?php echo $this->layout()->content;?>

</div>

 <script src="/public/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
</body>

</html>